<ion-header>
    <ion-navbar>
        <ion-title>Register Donor</ion-title>       
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="registerDonorForm"  #filterForm="ngForm">
        <ion-card> 
            <ion-item>
                <ion-label floating>Full Name</ion-label>
                <ion-input type="text" formControlName="FullName" [(ngModel)]="profile.FullName" name="fullName" required></ion-input>
            </ion-item>
             <ion-item>
                <ion-label floating>Gender</ion-label>
                <ion-input type="text" formControlName="Gender" [(ngModel)]="profile.Gender" name="gender" required></ion-input>
            </ion-item>
             <ion-item>
                <ion-label floating>Age</ion-label>
                <ion-input type="text" formControlName="Age" [(ngModel)]="profile.Age" name="age" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Blood Group</ion-label>
                <ion-select formControlName="BloodGroup" name="bloodGroup" [(ngModel)]="profile.BloodGroup" required>
                    <ion-option value="{{group}}" *ngFor="let group of bloodGroups">{{group}}</ion-option>
                </ion-select>
            </ion-item>            
        </ion-card>   
        <ion-card>   
            <ion-list>
                <ion-item>
                    <ion-label floating>Phone Number</ion-label>
                    <ion-input type="text" formControlName="PhoneNumber" [(ngModel)]="profile.Contact.PhoneNumber" name="phoneNumber" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="email" formControlName="EmailId" name="emailId" [(ngModel)]="profile.Contact.EmailId" required></ion-input>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>   
            <ion-list>
                <ion-item>
                    <ion-label floating>Address</ion-label>
                    <ion-input type="text" formControlName="AddressLine1" [(ngModel)]="profile.Address.AddressLine1" name="addressLine1"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Country</ion-label>
                    <ion-select formControlName="Country" name="country" [(ngModel)]="profile.Address.Country" (click)="onCountrySelection()">
                        <ion-option value="{{country.Value}}" *ngFor="let country of countries">{{country.Name}}</ion-option>
                    </ion-select>
                </ion-item>               
                <ion-item>
                    <ion-label floating>State</ion-label>
                    <ion-select formControlName="State" name="state" [(ngModel)]="profile.Address.State" >
                        <ion-option value="{{state.Value}}" *ngFor="let state of states">{{state.Name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label floating>City</ion-label>
                    <ion-input type="text" formControlName="City" name="city" [(ngModel)]="profile.Address.City" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Zipcode</ion-label>
                    <ion-input type="text" formControlName="Zipcode" [(ngModel)]="profile.Address.Zipcode" name="zipcode"></ion-input>
                </ion-item>
            </ion-list>
        </ion-card>
    </form>
</ion-content>
<ion-footer no-shadow>
        <button ion-button block type="submit" (click)="registerDonor()">Submit</button>
</ion-footer>